.banner{
   background: rgb(45,75,73);
background: linear-gradient(184deg, rgba(45,75,73,1) 49%, rgba(74,169,189,1) 100%);
    width:100%;
    height:200px;
    margin-bottom:50px;
}

.banner-text{
    font-family: cursive;
    color:white;
    top:10%;
    left:30%;
    position:relative;
    transform:transform;

}
h3{
font-family: cursive;
}

body{
background: rgb(203,200,255);

}
h5{

background-color:rgba(74,169,189,1);
}

h3{

background-color:rgba(45,75,73,1);
}
